.label-large {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.label-large-black {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


.textfield-large {
    -fx-font-size: 16px;
    -fx-padding: 10 12;
    -fx-pref-height: 40;
}

.passwordfield-large {
    -fx-font-size: 16px;
    -fx-padding: 10 12;
    -fx-pref-height: 40;
}
.title-bigger {
    -fx-font-size: 36px; /* más grande todavía */
    -fx-font-weight: bold;
}

.label-large {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.input-large {
    -fx-font-size: 16px;
    -fx-pref-height: 45px;
    -fx-padding: 10 12;
}
.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-max-width: Infinity;
}

.sidebar-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* hover blanco muy suave */
}

.bg-danger {
    -fx-background-color: #D32F2F;
}
.top-bar {
    -fx-background-color: #D32F2F; /* Rojo vivo */
    -fx-border-color: black;
    -fx-border-width: 0 0 3px 0; /* Borde inferior más grueso */
}

.top-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.top-button {
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}
.text-column {
    -fx-padding: 20 20 20 20; /* Antes: 20 40 20 20 */
}


.text-title {
    -fx-font-size: 24px;
    -fx-text-fill: #D32F2F;
    -fx-font-weight: bold;
}

.text-paragraph {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}
.titulo-principal {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.titulo-principal-black {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/*.label {
    -fx-text-fill: white;
}
*/
.bienvenida-label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.mensaje-usuario {
    -fx-background-color: #cce5ff;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.mensaje-otro {
    -fx-background-color: #f8d7da;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

